.main-sitemap{
    background-color: #22202A;
}
.text-sitemap {
    padding-top: 20PX;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.text-sitemap a {
    color: #e0a399;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px; 
}
.text-sitemap a:hover{
    color: #879BC6 ;
    transform: scale(1.2);
        -webkit-transform: scale(1.2); 
        -moz-transform: scale(1.2); 
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    cursor: pointer; 
}

.sitemap {
    padding: 30px;
    width: 692px;
    margin: 50px auto;
}

.sitemap a {
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 5px;
    border-radius: 7px;
    text-align: center;
    position: relative;
}

.first li a {
    background: #009252;
    width: 150px;
    height: 70px;
    line-height: 70px;
    display: block;
    margin: auto;
}

#home-sitemap:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 3px;
    height: 10px;
    background: #9e9f9e;
    top: 100%;
}

.first li a:hover {
    background-color: 	#be3455;
    color: #ffff;
}

.second {
    padding-top: 20px;
}

.second li {
    display: inline-block;
    vertical-align: top;
}

.second a {
    background: #cbcccb;
    font-size: 16px;
    width: 125px;
    height: 50px;
    line-height: 50px;
    z-index: 20;
    left: 238px;
}

.second a:before {
    content: "";
    position: absolute;
    border: 3px solid #9e9f9e;
    border-left: none;
    border-bottom: none;
    height: 10px;
    top: -10px;
    left: -75px;
    width: 165px;
}

.second li:first-child a:before {
    border-top: none;
}

.third {
    margin-left: 16px;
    padding-top: 20px;
}

.third a {
    background: #e4e4e3;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    z-index: 5;
    font-size: 13px;
}

.third a:before {
    border: 1px solid #9e9f9e;
    border-right: none;
    border-top: none;
    height: 55px;
    top: -35px;
    left: -8px;
    width: 7px;
}

.second a:hover,
.third a:hover {
    background-color: #ddd;
}